*{
    font-family:'Franklin Gothic Medium';
}

body{
    background-image: url(../imagenes/naranja.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sec{
    display:flex;
    padding: 10px 5%;
}

.sec2{
    display:flex;
    padding: 10px 5%;
}

.productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
}

.productos .carta{
    width: 310px;
    background: rgb(62, 129, 236);
    box-shadow: 0 10px 20 px black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.productos .carta img{
    height: 250px;
    width: 100%;
}

.productos.carta .titulo{
    font-weight: 900;
    font-size: 25px;
}

.productos .carta .caja{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productos .carta .caja .precio{
    font-weight: bold;
    font-size: 20px;
    color: rgb(194, 34, 108)
}

.productos .carta .caja .boton{
    cursor:pointer;
    color: black;
    border-radius: 20px;
}

.productos .carta .caja .boton:hover{
    cursor:pointer;
    background-color: rgb(219, 64, 64);
    color: white;
    border-radius: 20px;
}